#nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
#nav ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    margin-left: 20px;
    position: relative;
    left: 900px;
    
}
#middle {
    margin-top: 50px;
    font-family: sans-serif;
    
}
#middle h1 {
    font-size: 40px;
    padding: 40px;
}
#middle p {
    font-size: 19px;
    padding: 20px;
}
#footer .left{
    float: left;
}
#footer .right{
    float: right;
}